################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/brazilian-address-code/v17/.suo
/.vs/brazilian-address-code/FileContentIndex/read.lock
/.vs/brazilian-address-code/FileContentIndex/a3661c87-456f-414b-9026-71d5f5927415.vsidx
/brazilian-address-code/.vs/brazilian-address-code/FileContentIndex
/brazilian-address-code/.vs/brazilian-address-code/v17
/brazilian-address-code/.vs/brazilian-address-code/v16
/brazilian-address-code/Api/obj
/brazilian-address-code/Application/obj
/brazilian-address-code/Domain/obj
/brazilian-address-code/Infraestucture/obj
/brazilian-address-code/Test/obj
/brazilian-address-code/Api/bin/Debug/netcoreapp3.1
/brazilian-address-code/.vs/ProjectEvaluation
/brazilian-address-code/.vs/brazilian-address-code
/brazilian-address-code/App/bin/Debug/netcoreapp3.1
/brazilian-address-code/App/obj
/brazilian-address-code/Domain/bin/Debug/netcoreapp3.1
/brazilian-address-code/Infraestucture/bin/Debug/netcoreapp3.1
/brazilian-address-code/TestProject/bin/Debug/netcoreapp3.1
/brazilian-address-code/TestProject/obj
/brazilian-address-code/src/Api/obj
/brazilian-address-code/src/Api/bin/Debug/netcoreapp3.1
/brazilian-address-code/src/App/bin/Debug/netcoreapp3.1
/brazilian-address-code/src/App/obj
/brazilian-address-code/src/Domain/bin/Debug/netcoreapp3.1
/brazilian-address-code/src/Infraestucture/obj
/brazilian-address-code/src/Infraestucture/bin/Debug/netcoreapp3.1
/brazilian-address-code/src/Infraestucture/Infraestucture.csproj
/brazilian-address-code/src/TestProject/bin/Debug/netcoreapp3.1
/brazilian-address-code/src/TestProject/obj
/brazilian-address-code/DI/obj
/brazilian-address-code/src/DI/bin/Debug/netcoreapp3.1
/brazilian-address-code/src/DI/obj
